# Ignore everything
*

# Don't ignore git settings
!.gitignore
!.github

# Don't Ignore special files
!apps.common.mk
!README.md
!Makefile
!setup.sh

# Don't ignore subdirectories
!*/

# Don't ignore source files
!*.cpp
!*.h

# Don't ignore configuration
!/conf/conf.txt
